<nb-layout>
  <nb-layout-column>
    <h4>My Wilts</h4>
    <div *ngIf="ownWiltsData.length == 0">
      Opps Nothing here yet!
    </div>
    <div *ngIf="ownWiltsData">
    <nb-card *ngFor="let wilt of ownWiltsData"  accent="primary">
      <nb-card-header>{{ wilt.title }} </nb-card-header>
      <nb-card-body>
       {{ wilt.description }}
      </nb-card-body>
      <nb-card-footer>
        {{ wilt.createdAt | date: 'dd MMM yyyy, H:mm' }}
        <div style="float: right">
          <button status="danger" nbButton ghost nbTooltipStatus="danger" (click)="deleteWilt(wilt._id)" nbTooltip="Delete wilt"
            nbTooltipPlacement="top">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
          <button status="primary" [routerLink]="['edit', wilt._id]" nbButton ghost nbTooltipStatus="primary"
            nbTooltip="Edit wilt" nbTooltipPlacement="top">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  </nb-layout-column>
</nb-layout>
