<nb-layout><nb-layout-column>
<h4>My Wilts</h4>
  <nb-card *ngFor="let item of wilts">
    <nb-card-header>
Wilt Title
    </nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>
      On 07 Jun 2021
      <div style="float: right;">
      <button status="danger" nbButton ghost nbTooltipStatus="danger" (click)="deleteWilt()" nbTooltip="Delete wilt" nbTooltipPlacement="top"><nb-icon icon="trash-outline"></nb-icon></button>
      <button status="primary"[routerLink]="['edit', item]" nbButton ghost nbTooltipStatus="primary" nbTooltip="Edit wilt" nbTooltipPlacement="top"><nb-icon icon="edit-outline"></nb-icon></button>
    </div>
    </nb-card-footer>
  </nb-card>
</nb-layout-column></nb-layout>
