<nb-layout>
  <nb-layout-column class="colored-column-warning">
ejj

  </nb-layout-column>
  <nb-layout-column class="colored-column-info">

    <nb-card>
      <nb-card-body>
        Wilt Login
        <input nbInput type="text" fullWidth shape="rectangle" placeholder="Email" /> <br><br>
        <input nbInput type="text" fullWidth shape="rectangle" placeholder="Password" /> <br><br>
        <button nbButton fullWidth shape="rectangle" status="primary" (click)="login()">Login</button>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>


