<div fxLayout="row" fxLayoutAlign="center end">
  <div fxFlex>
    <nb-layout>
      <nb-layout-column class="colored-column-info">
        <nb-card class="center-card">
          <nb-card-body>
            <h4 style="text-align: center;">WILT LOGIN</h4>
            <input nbInput type="text" [(ngModel)]="email" fullWidth shape="rectangle" placeholder="Email" />
            <br /><br />
            <input nbInput type="text" fullWidth [(ngModel)]="password" shape="rectangle" placeholder="Password" />
            <br /><br />
            <button nbButton fullWidth shape="rectangle" status="primary" (click)="login()">
              Login
            </button>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>


</div>
