.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  margin-left: 20px;
  background-color: transparent !important;

}

@media screen and (max-width: 600px) {
  .nav-button {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .user-menu1 {
    display: none;
  }

  .user-menu2 {
    display: visible;
  }

}

@media screen and (min-width: 460px) and (max-width: 1900px) {
  .user-menu1 {
    display: visible;
  }

  .user-menu2 {
    display: none;
  }

}

.nav-button:hover {
  color: purple !important;
}

.spacer {
  flex: 1 1 auto;
}

.sidebar-icons {
  margin-bottom: 10px;
}
