<nb-layout>
  <nb-layout-column class="colored-column-info">
    <div fxLayout="row" fxLayoutAlign="center end">
      <div fxFlex>
        <nb-card class="center-card">
          <nb-card-body>
            <h5 style="text-align: center">Profile Settings</h5>
              <img src="https://randomuser.me/api/portraits/women/43.jpg" alt="Avatar" class="avatar-center">

            <input nbInput type="text" fullWidth shape="rectangle" placeholder="Username" />
            <br /><br />
            <input nbInput disabled type="text" fullWidth shape="rectangle" placeholder="Email" />
            <br /><br />
            <textarea nbInput fullWidth placeholder="Bio"></textarea>
            <br /><br />
            <button nbButton fullWidth shape="rectangle" status="primary">
              Update Profile
            </button>
          </nb-card-body>
        </nb-card>

      </div>
    </div>

  </nb-layout-column>
</nb-layout>
