<nb-layout><nb-layout-column>

  <nb-card class="center-card" *ngFor="let item of wilts">
    <nb-card-header>
      <nb-user
        size="large"
        name="John Doe"
        title="Engineer"
        picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
      >
      </nb-user>
    </nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
  </nb-card>
</nb-layout-column></nb-layout>

